<section>
    <h1>Contact</h1>
    <form (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="Your Name"
        [(ngModel)]="name"
        name="name"
        required
      />
      <input
        type="email"
        placeholder="Your Email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <textarea
        placeholder="Your Message"
        [(ngModel)]="message"
        name="message"
        required
      ></textarea>
      <button type="submit">Send</button>
    </form>
  </section>
  