.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  
    .skill {
      background: #f9a825;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-weight: bold;
    }
  }
  